.row
  .col-md-6 
    Turno
    = @turn
  .col-md-6 
    Round
    = @round

.row
  .col-md-4
    = link_to image_tag("http://tccgame.s3-website-sa-east-1.amazonaws.com/images/#{@images[0][0]}#{@images[1][0]}.png", width: 100), group_one_point_path(choice: "#{@images[0][0]}")
  .col-md-4
    = link_to image_tag("http://tccgame.s3-website-sa-east-1.amazonaws.com/images/#{@images[0][1]}#{@images[1][1]}.png", width: 100), group_one_point_path(choice: "#{@images[0][1]}")
  .col-md-4
    = link_to image_tag("http://tccgame.s3-website-sa-east-1.amazonaws.com/images/#{@images[0][2]}#{@images[1][2]}.png", width: 100), group_one_point_path(choice: "#{@images[0][2]}")
