.container
  .row
    .col-md-12
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th #
            %th Nome
            %th Pontuação
            %th Grupo
            %th Detalhe
        %tbody
          - @players.each_with_index do |player, index|
            %tr
              %td= index + 1
              %td= player.name
              %td= player.point
              %td= player.group_id
              %td= link_to "detalhe do candidato"