.container
  .row
    .col-md-12
      %h1 
        %b Grupo 2
  %hr/
  .row
    .col-md-12
      %table.table.table-striped.table-condensed.table-bordered
        %thead
          %tr
            %th #
            %th Nome
            %th Pont. Jogador
            %th Pont. Computador
            %th Jogadas
            %th Status
            %th Ação
        %tbody
          - @players.each_with_index do |player, index|
            %tr
              %td.col-md-1= index + 1
              %td.col-md-2= player.name
              %td.col-md-2= player.point_grupo_two_person
              %td.col-md-2= player.point_grupo_two_cpu
              %td.col-md-2= player.points.limit(180).count
              %td.col-md-2= (player.points.count >= 90) ? "completou" : "não completou"
              %td.col-md-2
                = link_to "detalhar", group_two_result_show_path(player)
